{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 140,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "bracketSameLine": true
}
